<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oddfar.campus.service.mapper.ContentMapper">

    <select id="getContentsNum" resultType="java.util.HashMap">
        SELECT COUNT(*) AS 'num',DATE_FORMAT(create_time, '%Y-%m-%d') AS createTime
        FROM `contents`
        WHERE is_deleted=0
        GROUP BY DATE_FORMAT(create_time, '%Y-%m-%d')
        ORDER BY DATE_FORMAT(create_time, '%Y-%m-%d') ASC LIMIT 0,7
    </select>

    <select id="getMetaContentNum" resultType="java.util.HashMap">
        SELECT COUNT(*) AS 'value',b.name
        FROM `contents` a
                 LEFT JOIN `metas` b
                           ON a.mid = b.mid
        WHERE a.is_deleted=0
        GROUP BY a.mid
    </select>


</mapper>
